@using MachinePark.Entities
@using MachinePark.Service
@using static MachinePark.Service.MachineStorageService
@attribute [StreamRendering(true)]

@inject MachineStorageService MachineStorageService


@if(machineList is null){
    <h3><em>Loading...</em></h3>
}
else{
<h3>MachineList</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(Machine.SerialNumber)
            </th>
            <th>
                @nameof(Machine.Id)
            </th>
            <th>
                @nameof(Machine.MachineType)
            </th>
            <th>
                @nameof(Machine.ParkingSpot)
            </th>
            <th>
                @nameof(Machine.OnLease)
            </th>
            <th>
                @nameof(Machine.IsRunning)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in machineList) {
            <tr>
                <td>
                    @machine.SerialNumber
                </td>
                <td>
                    @machine.Id
                </td>
                <td>
                    @machine.MachineType.MachineTypeName
                </td>
                <td>
                    @machine.ParkingSpot
                </td>
                <td>
                    @if (machine.OnLease)
                    {
                            <h5><span class="badge bg-secondary p-1 justify-content-center">Leased</span></h5>
                    }
                    else
                    {

                        <h5><span class="badge bg-info p-1">Available</span></h5>
                    }
                </td>
                <td>
                    @if (machine.IsRunning)
                    {
                        <span class="badge text-bg-success">Active</span>
                    }
                    else{

                        <h5><span class="badge bg-danger p-1" >Inactive</span></h5>
                    }
                </td>
                <td>
                    <a href="@($"details/{machine.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                        Details
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
}
@* Todo: add pagination*@
