@using MachinePark.Entities
@using MachinePark.Service
@using static MachinePark.Service.MachineStorageService

@inject MachineStorageService MachineStorageService



<h3>MachineList</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @nameof(Machine.SerialNumber)
            </th>
            <th>
                @nameof(Machine.Id)
            </th>
            <th>
                @nameof(Machine.MachineType)
            </th>
            <th>
                @nameof(Machine.ParkingSpot)
            </th>
            <th>
                @nameof(Machine.IsRunning)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var machine in machineList) {
            <tr>
                <td>
                    @machine.SerialNumber
                </td>
                <td>
                    @machine.Id
                </td>
                <td>
                    @machine.MachineType
                </td>
                <td>
                    @machine.ParkingSpot
                </td>
                <td>
                    @if (machine.IsRunning)
                    {
                        <span class="badge text-bg-success">Active</span>
                    }
                    else{

                        <h5><span class="badge bg-danger p-1" >Inactive</span></h5>
                    }
                </td>
                <td>
                    <a href="@($"details/{machine.Id}")" class="btn btn-outline-primary btn-sm mb-1">
                        Details
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@* Todo: add pagination*@
