@page "/AddMachine"
@using MachinePark.Service
@using System.ComponentModel.DataAnnotations
@using System.ComponentModel
@inject MachineStorageService MachineStorageService
@rendermode InteractiveServer


<EditForm Model="@Machine" id="@FormId" >
    <DataAnnotationsValidator/>

    <div>
        <label for="serialnumber" >serial number</label>
        <InputText @bind-Value="Machine.SerialNumber" id="serialnumber" type="text"/>
        <ValidationMessage For="@(()=> Machine.SerialNumber)"/>
    </div>
    <div>
        <label for="machinetype">Machine type:</label>
        <InputText @bind-Value="Machine.MachineType" id="machinetype" />
        <ValidationMessage For="@(() => Machine.MachineType)" />
    </div>
    <button type="submit" @onclick="addMachine">Submit</button>
</EditForm>
<button type="submit" form="@FormId" class="btn btn-primary">Save</button>
<button type="button" class="btn btn-light" ></button>
@code {
    private MachineModel Machine = new MachineModel();
    private string FormId = "formId";


   
   
}
